In [1]:
import pandas as pd
print(pd.__version__)
# set see all columns
pd.set_option('display.max_columns', None)

2.2.0

In [18]:
import gzip

In [2]:
df = pd.read_csv("data/green_tripdata_2019-09.csv", nrows=100)
print(df.shape)
df.head()

(100, 20)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

- Generate and display the SQL DDL (Data Definition Language) statement for creating a table that corresponds to the schema (structure) of a Pandas DataFrame named data.

-  Particularly useful for creating database tables that match the structure of your data in Python for data transfer or storage operations.

In [13]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

print(pd.io.sql.get_schema(df, name='greem_taxi_data', con=engine))

CREATE TABLE greem_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

- tell pandas that we want to put the data into postgres

- Video uses: # df_iter = pd.read_csv("data/yellow_tripdata_2021-01.parquet", iterator=True, chunksize=100_000)

In [4]:
#import pyarrow.parquet as pq

#parquet_file = pq.ParquetFile('data/yellow_tripdata_2021-01.parquet')

#for batch in parquet_file.iter_batches(batch_size=100_000):
#    df_iter = batch.to_pandas()

#print(df_iter.shape)
#df_iter.head()

In [14]:
df_iter = pd.read_csv("data/green_tripdata_2019-09.csv", iterator=True, chunksize=100_000)
print(df_iter)

df = next(df_iter)
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
df.shape

<pandas.io.parsers.readers.TextFileReader object at 0x12d088760>

(100000, 20)

- Create schema:

In [15]:
df.head(0).to_sql('green_taxi_data', engine, if_exists='replace',index=False)

0

- Push data to database:

In [16]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append', index=False, chunksize=100_000)

1000

- run in chunks:

In [10]:
from time import time

In [17]:
while True:
    try:
        start = time()
        batch = next(df_iter)
        batch['lpep_pickup_datetime'] = pd.to_datetime(batch['lpep_pickup_datetime'])
        batch['lpep_dropoff_datetime'] = pd.to_datetime(batch['lpep_dropoff_datetime'])
        batch.to_sql(name='green_taxi_data', con=engine, if_exists='append', index=False)
        end = time()
        print("Inserted another chunk.., took: ", end-start, " seconds")

    except StopIteration:
        break

Inserted another chunk.., took:  15.529848098754883  seconds
Inserted another chunk.., took:  14.333131074905396  seconds

/var/folders/20/y44pt9c51ts69c9fjlbm2glh0000gn/T/ipykernel_6327/118955363.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  batch = next(df_iter)

Inserted another chunk.., took:  14.828504085540771  seconds
Inserted another chunk.., took:  5.3805530071258545  seconds